# ===================================
# Kuroji API - Environment Variables
# ===================================

# === App Settings ===
# Port the server will run on [OPTIONAL - default: 3000]
PORT=3000
# Public URL for the API [OPTIONAL]
PUBLIC_URL=http://localhost:3000

# === Cross-Origin Resource Sharing (CORS) ===
# Comma-separated list of allowed origins [OPTIONAL - default: empty]
# Example: for multiple domains: https://example.com,https://app.example.com
# Use * to allow all origins (not recommended for production)
CORS=http://localhost:3000

# === Update Settings ===
# Enable/disable automatic updates [OPTIONAL - default: true]
UPDATE_ENABLED=true
# Enable/disable AniList indexer updates [OPTIONAL - default: true]
ANILIST_INDEXER_UPDATE_ENABLED=true

# === Provider Settings ===
# Enable/disable specific anime providers [OPTIONAL - default: true]
# These settings control which providers are used for fetching anime data and streams
ANIMEPAHE_ENABLED=true
ANIMEKAI_ENABLED=true
ZORO_ENABLED=true

# === API Base URLs ===
# External API endpoints [REQUIRED]
ANILIST=https://graphql.anilist.co
ANILIBRIA=https://aniliberty.top/api/v1
CONSUMET=your_consumet_instance_here

# https://github.com/itzzzme/anime-api
HIANIME=your_hianime_api_instance_here

ANI_ZIP=https://api.ani.zip

SHIKIMORI=https://shikimori.one
TMDB=https://api.themoviedb.org/3
TVDB=https://api4.thetvdb.com/v4
JIKAN=https://api.jikan.moe/v4

# === API Keys ===
# API keys for external services [OPTIONAL - default: api keys from internet]
TMDB_API=
TVDB_API=

# === Redis Configuration ===
# Enable/disable Redis cache [OPTIONAL - default: true]
REDIS=true
# Redis cache time in seconds [OPTIONAL - default: 3600]
REDIS_TIME=3600
# Redis connection settings [REQUIRED if REDIS=true]
REDIS_USERNAME=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# === Rate Limiting ===
# Number of requests allowed per IP address in the specified time window [OPTIONAL - default: 0]
# Value of 0 means no rate limiting
RATE_LIMIT=0
# Time window in seconds for rate limiting [OPTIONAL - default: 60]
RATE_LIMIT_TTL=60

# === Pagination Settings ===
# Default number of items per page [OPTIONAL - default: 25]
DEFAULT_PER_PAGE=25

# Default starting page number [OPTIONAL - default: 1]
DEFAULT_PAGE=1

# === Indexer & Update Keys ===

# Keys to control if the indexer and update processes are running
# Heads up: These keys gotta be DIFFERENT from each other,
INDEXER_RUNNING_KEY=isIndexerRunning
UPDATE_RUNNING_KEY=isUpdateRunning

# FYI: These keys are mostly just here for show and won't actually change shit,
# but don’t sleep on setting them right — they *have* to be unique, or your app might throw a tantrum.

# === JWT ===
JWT_SECRET=supersecret
JWT_EXPIRES_IN=1h

# === Database Configuration ===
# PostgreSQL connection string [REQUIRED]
# Format: postgresql://<username>:<password>@<host>:<port>/<database_name>?schema=public
DATABASE_URL=postgresql://prisma:postgres@localhost:5432/kuroji?schema=public
