:root {
  --main-color: #7b5cf0;
  --primary-bg: #0f0f0f;
  --secondary-bg: #1a1a1a;
  --input-bg: #2a2a2a;
  --input-border: #1a1a1a;

  --primary-color: #e0e0e0;
  --secondary-color: #555;
  --text-muted: #aaa;
  --text-dim: #888;
  --text-dark: #444;
  --text-link: #666;
  --white: #ffffff;
  --off-white: #ccc;

  --primary-border: #2e2e2e;
  --secondary-border: #2a2a2a;

  --code-k: #c792ea;
  --code-f: #82aaff;
  --code-s: #c3e88d;
  --code-p: #89ddff;
}
